@font-face {
    font-family: "Merengue";
    src: url(/assets/Cream\ Cake.otf);
}



* {
    font-size: 1rem;
    font-family: "Merengue", "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400rem;

    margin: unset;
    padding: unset;
    border: unset;

    box-sizing: border-box;

    list-style: none;


}

header {
    text-align: center;
    padding: 0.75rem 3.75rem;

}




header nav {
    display: flex;
    align-items: center;
    justify-content: space-between
}

header nav ul {

    display: flex;
    gap: 2rem;


}

.Jumbotron {


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    background-image: url('assets/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    background: fixed;
    width: 53rem;
    right: 1rem;
    background-attachment: fixed;
}

.description {

    color: #fff;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 12.5rem;
    left: 30%;
    transform: translateX(-50%);

    background: rgba(216, 165, 136, 0.616)

}

.tarjeta {

    flex-direction: column;


}

.tarjeta__imagen { 
width: 28.688rem;
height: 29.125rem;
margin: 3.75rem;


}
